<div class="row">
    <div class="col-sm-6 offset-3">
        <div class="text-center">
            <h4>
                Sign Up
            </h4>

        </div>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       formControlName="username"
                       class="form-control"
                       [ngClass]="{'is-invalid':username.errors && username.touched}"
                       id="username"
                       placeholder="Username">
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username is taken
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('required')">
                    Username is required
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('minlength')">
                    Username must be at least 3 characters
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{'is-invalid':password.errors && password.touched}"
                       id="password"
                       placeholder="Password">
                <div class="invalid-feedback"
                     *ngIf="password.hasError('required')">
                    Password is required
                </div>

            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password"
                       formControlName="confirmPassword"
                       class="form-control"
                       [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}"
                       id="confirmPassword"
                       placeholder="Confirm Password"
                       autocomplete>
                <div class="invalid-feedback"
                     *ngIf="confirmPassword.hasError('passwordMismatch')">
                    Passwords Don't Match
                </div>
                <div class="invalid-feedback"
                     *ngIf="confirmPassword.hasError('required')">
                    Confirm password is required
                </div>

            </div>
            <section formGroupName="address">
                <div class="form-group">
                    <label for="inputStreet">Street</label>
                    <input type="text"
                           formControlName="street"
                           class="form-control"
                           id="inputStreet"
                           placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text"
                               formControlName="city"
                               class="form-control"
                               id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState"
                                formControlName="state"
                                class="form-control">
                            <option value=""
                                    disabled>Choose a state</option>
                            <option *ngFor="let state of stateOptions"
                                    [ngValue]="state">
                                {{ state }}
                            </option>

                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text"
                               formControlName="zip"
                               class="form-control"
                               id="inputZip">
                    </div>
                </div>
            </section>

            <p>
                <button class="btn btn-success"
                        type="submit"
                        [disabled]="userForm.invalid"><i class="fas fa-save"></i> Save</button>
                <button class="btn btn-warning"
                        (click)="clear()"><i class="fas fa-snowplow"></i> Clear</button>
                <button class="btn btn-info"
                        (click)="autoFillAddress()"><i class="fas fa-address-card"></i> Auto Fill Address</button>
            </p>
        </form>

    </div>

</div>