<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Course List</h6>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#EFA31D"></rect><text x="50%"
                  y="50%"
                  fill="#EFA31D"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 1</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Get GitHub Project and Set Up</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#FC3939"></rect><text x="50%"
                  y="50%"
                  fill="#FC3939"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 2</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Configure Reactive Form Module</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#007bff"></rect><text x="50%"
                  y="50%"
                  fill="#007bff"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 3</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Grouping Form Controls using FormGroup</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#20c997"></rect><text x="50%"
                  y="50%"
                  fill="#20c997"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 4</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Creating nested form groups</span>
        </div>
    </div>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#EFA31D"></rect><text x="50%"
                  y="50%"
                  fill="#EFA31D"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 5</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Partial angular reactive form update</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#FC3939"></rect><text x="50%"
                  y="50%"
                  fill="#FC3939"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 6</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Generate Angular form controls with FormBuilder</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#007bff"></rect><text x="50%"
                  y="50%"
                  fill="#007bff"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 7</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Add Basic Angular Reactive Form Validation</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#20c997"></rect><text x="50%"
                  y="50%"
                  fill="#20c997"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 8</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Custom Angular Reactive Password Match Validation</span>
        </div>
    </div>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#EFA31D"></rect><text x="50%"
                  y="50%"
                  fill="#EFA31D"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 9</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Custom Angular Reactive Username Taken Validation</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#FC3939"></rect><text x="50%"
                  y="50%"
                  fill="#FC3939"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 10</strong>
                <a href="https://github.com/mike1477/Angular-Reactive-Form"
                   target="blank">GitHub.com</a>
            </div>
            <span class="d-block">Angular Reactive Form Validation</span>
        </div>
    </div>




</div>